<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="a3a8c61c-01f9-407e-a040-d2c984b9ca3d"
	  Publisher="CN=288343"
	  Version="1.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="a3a8c61c-01f9-407e-a040-d2c984b9ca3d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>WindowsMultiTool</DisplayName>
		<PublisherDisplayName>288343</PublisherDisplayName>
		<Logo>Assets\wave.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="WindowsMultiTool"
			  Description="Windows Multi-Tool utilities app"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<!--Specify which CLSID to activate when notification is clicked-->
				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="C906CB43-AAEB-4E0D-A9F1-38C7EB657225" />
				</desktop:Extension>

				<!--Register COM CLSID-->
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="WindowsMultiTool\WindowsMultiTool.exe" DisplayName="SampleApp" Arguments="----AppNotificationActivated:">
							<com:Class Id="C906CB43-AAEB-4E0D-A9F1-38C7EB657225" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
